/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*

    Clearfix
    
*/

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  clear: both;
  *zoom: 1;
}

/*

    Container & Grid
    
*/

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.container,
.grid{
    width: 980px;
    margin: 0 auto;
}

.container {
    padding: 0 30px;
}

.grid,
.col-1-3,
.col-1-4 {
    padding: 0 15px;
}

.col-1-3 {
    display: inline-block;
    vertical-align: top;
    width: 33.33%;
}

.col-1-4 {
    display: inline-block;
    vertical-align: top;
    width: 24.9975%;
}

.centered-section {
    text-align: center;
    padding: 0 auto;
}

/*

    Typography
    
*/

h1, h2, h3, h4, h5, h6, p, a, li {
    font-family: 'Source Sans Pro', sans-serif;
}

h1 {
    font-size: 40px;
}

a {
    text-decoration: none;
}

/*

    Media

*/

.icon {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    padding: 0;
}

/*

    Button

*/

.btn {
    display: inline-block;
    padding: 10px;
    margin: 10px;
    border: 0.5px solid rgba(208, 24, 42, 0);
    background-color: #FF090F;
    color: #fff;
}

.btn:hover {
    background-color: rgba(208, 24, 42, 0);
    color: #000;
    border: 0.5px solid #000;
}

/*

    Header
    
*/

header li {
    display: inline-block;
    padding: 0 10px;
}

.top-nav,
.main-header h2 {
    float: left;
}

.main-nav,
.top-header .contact {
    float: right;
}

.top-header {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #fff;
}

.top-header li {
    border-right: 1px solid #ccc;
}

.top-header li:first-child,
.main-header li:first-child {
    padding-left: 0;
}

.top-header li:last-child,
.main-header li:last-child {
    border-right: 0;
    padding-right: 0;
}

.main-header {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #eee;
}

/*

    Hero
    
*/

.hero .container{
    padding: 200px 200px;
    text-align: center;
}

.hero {
    background-image: url(../images/hero-image.jpeg);
}

.hero h1,
.hero h4,
.hero a {
    color: #fff;
}

.btn-hero:hover,
.btn-hero-alt {
    border-color: #fff;
    color: #fff;
}

.btn-hero-alt {
    background-color: rgba(208, 24, 42, 0);
}

.btn-hero-alt:hover {
    border: 0.5px solid rgba(208, 24, 42, 0);
    background-color: #FF090F;
    color: #fff;
}

/*

    Feature

*/

.feature-icon {
    float: left;
    width: 90px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.feature-container {
    margin-top: -100px;
}

.feature-text {
    border-radius: 8px 8px 0 0;
}

.feature-btn {
    text-align: center;
    border-bottom: 1px solid #ccc;
}

.feature-container .container,
.feature-container .grid {
    background-color: #fff
}

.feature-img {
    width: 100%;
}

/*

    Mid Section

*/

.mid-section {
    background-image: url(../images/mid-section-image.jpeg);
    background-size: cover;
    padding: 40px 0;
}

.mid-section h3 {
    color: #fff;
    float: left;
}

.mid-section .btn {
    display: block;
    float: right;
}

.mid-section h3,
.mid-section .btn {
    margin: 0;
    padding: 10px;
}

/*

    Testimonial

*/

.testimonial {
    background-color: #eee;
}

/*

    Customer

*/

.customer ul {
    margin: 30px auto;
}

/*

    Lower Section

*/

.lower-section {
    background-image: url(../images/lower-section-bg.jpeg);
    background-size: cover;
}



/*

    Company Info

*/

.company-info li {
    border-bottom: 1px solid #ccc;
}

.company-info li:last-child {
    border-bottom: none;
}

/* .company-info input {
    margin: 10px 0;
}

.company-info .btn {
    padding: 5px 5px;
}

.company-info .btn:hover {
    border: 0.5px solid rgba(208, 24, 42, 0);
    background-color: #FF090F;
    color: #fff;
} */

/*

    Footer

*/

.footer-left {
    float: left;
}

.footer-right {
    float: right;
}